---
import { addFavoriteRecipe } from "../../lib/favorites";
export const partial = true;

let id: number = 0;
if (Astro.request.method == "POST") {
    const data = await Astro.request.formData();
    const newRecipe = {
        title: data.get("title")?.toString() || "",
        image: data.get("image")?.toString() || "",
        description: data.get("description")?.toString() || "",
        preptime: data.get("preptime")?.toString() || "",
        cooktime: data.get("cooktime")?.toString() || "",
        servings: data.get("servings")?.toString() || "",
        ingredients: data.get("ingredients")?.toString().split(",") || [],
    };

    const newFavorite = addFavoriteRecipe(newRecipe);
    id = newFavorite.id;
}
---

<button hx-delete={`/recipes/${id}`} hx-swap="outerHTML">
    <img src="/images/favorite.svg" alt="Add favorite" />
</button>
