---
import Recipe from "../components/Recipe.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Random IA Recipes">
  <main>
    <header>
      <h1>IA Random Recipes</h1>
    </header>
    <a href="/favorites">Favorites</a>
    <Recipe />
  </main>
</Layout>
