---
import Recipe from "../../components/Recipe.astro";
import Layout from "../../layouts/Layout.astro";
import { type RecipeType, getFavoriteRecipe } from "../../lib/favorites";
export const prerender = false;
let recipe = {} as RecipeType;
if (Astro.request.method === "GET") {
  const { id } = Astro.params;
  recipe = getFavoriteRecipe(+id) || ({} as RecipeType);
}
---

<Layout title={`Favorite ${recipe.id}`}>
  <main>
    <header>
      <h1>Favorite {recipe.id}</h1>
    </header>
    <a href="/favorites">Favorites</a>
    <Recipe recipe={recipe} />
  </main>
</Layout>
