---
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <style is:global>
      *,
      ::before,
      ::after {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
      }

      header {
        font-size: 1.7rem;
        text-align: center;
        padding: 1rem;
        color: cornflowerblue;
        width: 100%;
      }

      main {
        padding: 1rem;
        max-width: 1200px;
        margin: 0 auto;
        & p {
          font-size: 1rem;
          margin: 0.5rem;
        }
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
      defer></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body >
    <slot />
  </body>
</html>
